.idea/misc.xml
.idea/modules.xml
.idea/touchscreen.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
*.pyc
*~
*.swp
*.png
*.jpeg
*.jpg
*.mp4
*.m4v
*.iml
.idea/
ENV/
accomodation_logos/
bin/
images/
include/
lib/
maps/
restaurant_logos/
touchscreen.iml
touchscreen/.idea/
touchscreen/touchscreen.iml
videos/
activity_icons/
service_type_icons/
trivia_icons/
static/